* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    place-content: center;
    align-items: center;
    justify-items: center;
}
.button {
        padding: 220px 40px ;
        text-align: center;
        justify-content: center;
    &__one{
        background-image:
        linear-gradient(rgb(235, 171, 155) 0 0);
      background-repeat: no-repeat;
      background-size: 100% 10em;
      background-position:
        -100%, 100% ;
        padding: 20px 30px;
        border: 8px solid black;
        font-size: 30px;
        font-weight: 800;
    }
     
     &__one:hover{
        background-size:90% 80%;
        background-position:
          -10% ,
          10%;  
        transition: background-size .3s .3s, background-position .3s;
  }

}

